@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Makasar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    font-family: 'Noto Serif Makasar', serif;
    font-size: 16px;
}
h1{
    font-size: 2rem;
}
h3{
    font-size: 1.3rem;
    margin-bottom: 10px;
}
h5{
    font-size: 1.1rem;
}

.testimonial{
    padding: 5%;
    width: 90vw;
    max-width: 1300px;
    height: 90vh;
    margin: 5vh auto 5vh auto;
    box-shadow: 5px 1px #fbfbf9;
    background-color: #fff;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
    "head head"
    "revOne one"
    "revTwo one"
    "revThree one";
}


.header{
    grid-area: head;
    display: flex;
    padding: 2rem;
}
.header h1{
    margin: 0 20px;
    align-self: flex-end;
    padding: 20px 0;
}

.rev{
    padding: 4%;
    display: flex;
    justify-content:baseline;
    flex-direction: column;
    align-items: flex-end; 
}

.thumb-pic{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.revOne{
    grid-area: revOne;
    box-shadow: 0px 0px 50px -11px rgba(0,0,0,0.1);
}
.revTwo{
    grid-area: revTwo;
}
.revThree{
    grid-area: revThree;
}

.review-container{
    grid-area: one;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 16px;
    height: 400px;
}
.review{
    display: block;
    height: 100%;
    max-height: 400px;
    line-height: 1.2rem;
    padding: 5rem;
    margin: 0 auto;
}

#one{
    display: block;
    /* transition: display 2s 1s linear; */
}
#two{
    display: none;
    /* transition: display 2s 1s linear; */
}
#three{
    display: none;
    /* transition: display 2s 1s linear; */
}




@media all and (max-width: 850px) {

    h1{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1rem;
        margin-bottom: 10px;
    }
    h5{
        font-size: 0.9rem;
    }

.testimonial{
    padding: 1%;
    width: 90vw;
    max-width: 1300px;
    margin: 5vh auto 5vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "head head head"
    "revOne revTwo revThree"
    "one one one"
    "one one one";
}

.header{
    grid-area: head;
    display: flex;
    padding: 1rem;
}

.rev{
    padding: 2%;
    display: flex;
    justify-content:baseline;
    flex-direction: column;
    align-items: center; 
    border: 0.5px solid white;
   
}
.thumb-pic{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.revOne{
    grid-area: revOne;
   
    
}
.revTwo{
    grid-area: revTwo;
}
.revThree{
    grid-area: revThree;
}

.review-container{
    grid-area: one;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    font-size: 16px;

}

    
}


@media all and (max-width: 550px) {

    h1{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1rem;
        margin-bottom: 5px;
    }
    h5{
        font-size: 0.735rem; 
    }

.testimonial{
    padding: 1%;
    width: 90vw;
    max-width: 1300px;
    margin: 5vh auto 5vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "head"
    "revOne revTwo"
    "revThree revThree"
  
    "one"
    "one"
    "one"
    "one";
}

.header{
    grid-area: head;
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.header h1{  
    margin: 0 20px;
    align-self: center;
    padding: 20px 0;
}

.review{
    display: block;
    height: 100%;
    line-height: 1.2rem;
    padding: 2rem;
    margin: 0 auto;
}
.rev{
    padding: 1%;
    display: flex;
    justify-content:baseline;
    flex-direction: column;
    align-items: center; 
    border: 0.5px solid white;
}
.thumb-pic{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.revOne{
    grid-area: revOne;
}
.revTwo{
    grid-area: revTwo;
}
.revThree{
    grid-area: revThree;
}
.review-container{
    grid-area: one;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 16px;
}
}


@media all and (max-width: 450px){

    h1{
        font-size: 1.5rem;
    }
    h3{
        font-size: 0.85rem;
        margin-bottom: 5px;
    }
    h5{
        font-size: 0.635rem;
    }
    .review-container{
        grid-area: one;
        padding: 3%;
        justify-content: flex-start;
        font-size: 0.7rem;
    }
}